
<header>
    <nav>
        <div class="logo">airbnb</div>
        <ul>
            <li><a href="/host/add-home">Add Home</a></li>
            <li><a href="/">View Home</a></li>
            <li><a href="/host/edit-home">Edit Home</a></li>
            <li><a href="/host/delete-home">Delete Home</a></li>
        </ul>
    </nav>
</header>

