
<header>
    <nav>
        <div class="logo">airbnb</div>
        <ul>
            <li><a href="/homes">View Home</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/favourite">favourite</a></li>
            <li><a href="/host/add-home">Add Home</a></li>
            <li><a href="/host/host-home-list">Host Home</a></li>
            
           
        </ul>
    </nav>
</header>

